{% extends 'base.html' %}


{% block title %}
Certidões
{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="list-group">
            {% for link in object_list %}
            <a 
                href="{{link.link}}" 
                class="list-group-item list-group-item-action" 
                target="_blank">{{link.label}}
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}


{% block javascript %}
<script>
var elemento = null
$('a').on("click",function(){
    $(this).addClass("active")
})
</script>    
{% endblock javascript %}
    