{% extends 'base.html' %}

{% load static %}


{% block title %}
Criando Solicitação
{% endblock title %}


{% block style %}
<style>
    .delete-row {
    margin: 10px;
}
</style>
{% endblock style %}


{% block script %}
<script src=" {% static 'js/jquery.formset.js' %}"></script>
{% endblock script %}

{% block javascript %}
<script type="text/javascript">

    var adiciona = '<i class="fas fa-plus-square fa-lg"></i>'
    var remove = '<i class="fas fa-trash fa-lg"></i>'

    $('.itemRequerido_formset_row').formset({
        addText: adiciona+'<span style="margin: 10px;">Adicionar Item</span>',
        deleteText: remove,
        prefix: 'itemrequerido_set'
    });

    $('.assinatura_formset_row').formset({
        addText: adiciona+'<span style="margin: 10px;">Adicionar Assinatura</span>',
        deleteText: remove,
        prefix: 'assinatura_set'
    });

</script>
{% endblock javascript %}


{% block content %}
<div class="col-md-10">
    {% if form.subject.errors %}
    <ol>
        {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    </ol>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
        </fieldset>
        <fieldset class="form-group">
            <table class="table table-hover">
                {{ itemRequerido_form.management_form }}

                {% for form in itemRequerido_form.forms %}
                {% if forloop.first %}
                <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                        <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                {% endif %}
                <tr class="itemRequerido_formset_row">
                    {% for field in form.visible_fields %}
                    <td>
                        {{ field.errors.as_ul }}
                        {{ field }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </fieldset>
        <fieldset class="form-group">
            <table class="table table-hover">
                {{ assinatura_form.management_form }}

                {% for form in assinatura_form.forms %}
                {% if forloop.first %}
                <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                        <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                {% endif %}
                <tr class="assinatura_formset_row">
                    {% for field in form.visible_fields %}
                    <td>
                        {{ field.errors.as_ul }}
                        {{ field }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </fieldset>
        <div class=form-group>
            <button name="submit" class="btn btn-primary">Finalizar Solicitação</button>
        </div>
    </form>
</div>
<datalist id="descricao_list">
    
    {% for option in descricoes %}
        <option value="{{ option.descricao }}">
    {% endfor %}
        
</datalist>
{% endblock content %}